<div class="container mt-5">
  <%= button_to "Recevoir un email", emails_path, method: :post, class: "btn btn-primary mb-3", data: { turbo_frame: "emails_list" } %>
  <div class="row">
    
    <!-- Colonne de gauche : Liste des emails -->
    <div class="col-md-5">
      <h2 class="mb-4">Liste des emails</h2>
      <div class="list-group">
        <% @emails.each do |email| %>
          <div id="<%= dom_id(email) %>" class="list-group-item <%= 'fw-bold' unless email.read %>">
            <%= check_box_tag :read, true, email.read, data: { turbo_action: "update-email-read-status", turbo_email_id: email.id } %>
            <%= link_to email.object, email_path(email), data: { turbo_frame: "email_content" } %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Colonne de droite : Email sélectionné -->
    <div class="col-md-7">
      <h2 class="mb-4">Email sélectionné</h2>
      <div class="card">
        <div class="card-body" id="email-content">
          <%= turbo_frame_tag "email_content" do %>
            <p class="text-muted">Cliquez sur un email pour lire son contenu.</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>